[Unit]
Description=Seafile
After=network.target

[Service]
LimitNOFILE=10000
EnvironmentFile=/etc/sysconfig/seafile
Type=forking
PIDFile=/run/ccnet-server.pid
GuessMainPID=no
User=seafile
Group=seafile
ExecStart=/usr/bin/seafutil-luanch --action ccnet --config ${CONFIGFILE} -pidfile /run/ccnet-server.pid -t 5
TimeoutStartSec=6
TimeoutStopSec=30


[Install]
WantedBy=multi-user.target