[Unit]
Description=Seafile Ccnet
After=network.target

[Service]
LimitNOFILE=10000
EnvironmentFile=/etc/sysconfig/seafile
Type=forking
PIDFile=/run/seafile/ccnet-server.pid
GuessMainPID=no
User=seafile
Group=seafile
ExecStartPre=/bin/mkdir -p /run/seafile
ExecStartPre=/bin/chown seafile:seafile /run/seafile
ExecStart=/usr/bin/seafutil-luanch --action ccnet --config ${CONFIGFILE} --pidfile /run/seafile/ccnet-server.pid -t 5
TimeoutStartSec=6
TimeoutStopSec=30


[Install]
WantedBy=multi-user.target