[Unit]
Description=Seafile Ccnet
After=network.target postgresql-15.service remote-fs.target nss-lookup.target

[Service]
LimitNOFILE=10000
Type=forking
User=seafile
Group=seafile
ExecStart=/usr/bin/seafile-launch ccnet --pidfile /run/seafile/ccnet-server.pid
TimeoutStartSec=5
TimeoutStopSec=30
RuntimeDirectoryPreserve=yes
RuntimeDirectory=seafile
SuccessExitStatus=1


[Install]
WantedBy=multi-user.target
