[Unit]
Description=Seafile
After=network.target

[Service]
LimitNOFILE=10000
EnvironmentFile=/etc/sysconfig/seafile
Type=forking
PIDFile=/run/seafile-controller.pid
GuessMainPID=no
User=seafile
Group=seafile
ExecStart=/usr/bin/seafutil-luanch --action start --config ${CONFIGFILE} -p /run/seafile-controller.pid --t 5
TimeoutStartSec=6
TimeoutStopSec=30
ExecStopPost=/usr/bin/seafutil-luanch --action stop --config ${CONFIGFILE} -p /run/seafile-controller.pid -t 25


[Install]
WantedBy=multi-user.target