[Unit]
Description=Seafile
After=network.target

[Service]
LimitNOFILE=10000
EnvironmentFile=/etc/sysconfig/seafile
Type=forking
PIDFile=/run/seafile-controller.pid
GuessMainPID=no
User=seafile
Group=seafile
ExecStart=/usr/bin/seafile-luanch --action start --config ${CONFIGFILE} --pid /run/seafile-controller.pid --timeout 5
TimeoutStartSec=6
TimeoutStopSec=30
ExecStopPost=/usr/bin/seafile-stop --action stop --config ${CONFIGFILE} --pid /run/seafile-controller.pid --timeout 25


[Install]
WantedBy=multi-user.target