[Unit]
Description=Seafile Server
Requires=ccnet.service
After=ccnet.service memcached.service

[Service]
LimitNOFILE=10000
Type=simple
User=seafile
Group=seafile
ExecStart=/usr/bin/seafile-launch seahub -s /run/seafile/seahub.sock --pidfile /run/seafile/seahub-wsgi.pid
TimeoutStartSec=6
TimeoutStopSec=30


[Install]
WantedBy=multi-user.target
